*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.containter{
    width: 28%;
    color: white;
    position: absolute;
    top: 8%;
    left: 41%;
     
}

.containter h1{
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid pink;
    margin-bottom: 43px;
    padding: 13px 0;
}

.box{
    width:100%;
    border-bottom: 2px solid yellow;
    margin:32px 0px;
    


}
.box input{
    background:none;
    width: 75%;
    
    padding: 5px 10px;
    outline: none;
    color: white;
    font-size: 20px;
    border: none;

    
}

.box i{
    width: 25px;
    text-align: center;
    padding: 0px 12px;
}
.btn{
    
    cursor: pointer;
    outline: none;
    color: black;
    margin: 12px 0;
    padding: 10px 21px;
    border-radius: 10px;
    border-color:yellow  ;
    border-radius: 2rem;
    font-size: 18px;
    font-weight: bold;
}
.btn:hover{
    color: whitesmoke;
    background: black;
}